.container {
  display: flex;
  gap: 8px;
  user-select: none;
}

.checkboxWrapper {
  cursor: pointer;
}

.wrapperDisabled {
  cursor: not-allowed;
}

.checkboxInput {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none;
}

.checkboxCustom {
  border-radius: var(--measurements-radius-xs, 4px);
  border: 1px solid var(--border-action-normal, #C8CAD0);
  background: var(--background-checkbox-default, #FFF);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  flex-shrink: 0;
  margin-top: 2px;
}

.checkboxCustom.checked {
  background: #14151A;
  border-color: #14151A;
}

.checkboxCustom.disabled {
  background: #DEE0E3;
  border-color: #DEE0E3;
}

.checkboxInput:focus-visible + .checkboxCustom {
  box-shadow: 0 0 0 1px #FFF, 0 0 0 2.5px rgba(200, 178, 255, 0.60);
  outline: none;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.label {
  font-family: var(--font-Inter);
  font-weight: 500;
  color: #14151A;
}

.caption {
  font-family: var(--font-Inter);
  font-weight: 400;
  color: rgba(0, 0, 0, 0.60);
}

/* Sizes */
.sm .checkboxCustom {
  width: 16px;
  height: 16px;
}

.md .checkboxCustom {
  width: 20px;
  height: 20px;
} 

.sm .label {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
}

.sm .caption {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
}

.md .label {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.md .caption {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}