.statusSmall {
    display: flex;
    width: 100%;
    height: 26px;
    padding: 4px 6px 6px 6px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 999px;
    text-align: center;
    font-family: var(--font-Helvetica-Neue);
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0;
}

.statusLarge {
    display: flex;
    padding: 4px 10px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 999px;
    border: 1px solid rgba(10, 15, 41, 0.08);
    background: #FFF;
    text-align: center;
    font-family: var(--font-Helvetica-Neue);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.1px;
}

.statusIndicator {
    width: 8px;
    height: 8px;
    border-radius: 999px;
    flex-shrink: 0;
}

.statusText {
    display: block;
    text-align: center;
    font-family: var(--font-Helvetica-Neue);
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0;
    margin-bottom: -3px;
}

/* Цвета для разных типов статусов */

/* Стили для маленьких статусов */
.statusSmall.approved,
.statusSmall.active,
.statusSmall.completed {
    background-color: #D1FAE4;
    color: #166E3F;
}

.statusSmall.pending {
    background-color: #E9EAEC;
    color: rgba(0, 0, 0, 0.60);
}

.statusSmall.frozen,
.statusSmall.freezed,
.statusSmall.processing,
.statusSmall.authorization {
    background-color: #FEF3C7;
    color: #92400E;
}

.statusSmall.declined,
.statusSmall.failed,
.statusSmall.cancelled {
    background-color: #FEE2E2;
    color: #B91C1C;
}

.statusSmall.refunded {
    background-color: #E3EAFD;
    color: #133A9A;
}

.statusSmall.unknown {
    background-color: #E5E7EB;
    color: #4B5563;
}

/* Цвета индикаторов для всех типов */
.approved .statusIndicator,
.active .statusIndicator,
.completed .statusIndicator {
    background-color: #26BD6C;
}

.pending .statusIndicator,
.frozen .statusIndicator,
.freezed .statusIndicator,
.processing .statusIndicator,
.authorization .statusIndicator {
    background-color: #F59E0B;
}

.declined .statusIndicator,
.failed .statusIndicator,
.cancelled .statusIndicator {
    background-color: #EF4444;
}

.refunded .statusIndicator {
    background-color: #133A9A;
}

.unknown .statusIndicator {
    background-color: #9CA3AF;
}
